<footer class="footer">
  <hr>
  <div  class="text-center">
    <small>
      <%= link_to "Music Festival", home_path, class: "text" %>
      developed by
      <%= link_to "Paulo Belo", "http://github.com/pjbelo", target: :_blank %>
      handcrafted with
      <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: :_blank %>
       , ©MIT 2018-present
    </small>
  </div>
  <hr>
</footer>
